.about-flex{
    padding: 3rem 15%;
    display: flex;
    justify-content: space-evenly;
}

.about-text{
    width: 40%;
}

.about-text h2{
    font-size: 2.5rem;
}

.about-text p{
    font-size: 1.5rem;
    color: #888787;
}

.about-text button{
    background-color: #FE0000;
    padding: 1rem;
    margin-top: 2rem;
    font-size: large;
    font-weight: 700;
    color: white;
    border: 2px solid #FE0000;
    transition: all 0.5s ease-in-out;
}

.about-text button:hover{
    background-color: transparent;
    color: #FE0000;
}