html{
    font-size: 90%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

.red{
    color: #FE0000;
}

.section-heading{
    text-align: center;
}

.section-heading h2{
    font-size: 3rem;
    margin-top: 1rem;
}

.section-heading h3{
    font-size: 1.7rem;
    margin-bottom: 0;
}

.gray-bg{
    background-color: #b3b0b0;
    padding: 1rem;
}

.white-bg{
    background-color: white;
    padding: 2.5rem;
}

@media screen and (max-width:600px){
    /* navbar */
    .sign-up{
        display: none !important;
    }
}

@media screen and (max-width:1100px){
    /* navbar */
    .toggle-links{
        display: contents !important;
    }
    .links-container{
        display: none;
    }
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 1%;
    background-color: #191919;
    color: white;
}

.hide-mobile-nav{
    display: none;
}

.show-mobile-nav{
    position: fixed;
    background-color: #f3f3f3;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 998;
    color: #191919;
}

.close-nav{
    text-align: right;
    margin-right: 2rem;
    font-size: 2rem;
    color: #FE0000;
    cursor: pointer;
}

.mobile-links{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.mobile-links li{
    transition: all 0.3s ease;
}

.mobile-links li:hover{
    font-size: 1.7rem;
    color:#FE0000;
}

.toggle-links{
    display: none;
    transition: color 0.5s ease;
}  

.toggle-links:hover{
    color: #FE0000;
} 

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.logo img{
    width: 90px;
    height: 70px;
}

.logo p:nth-child(1){
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.logo p:nth-child(2){
    font-size: 1.1rem;
    margin: 0;
    font-style: italic;
}

.sign-in{
    display: flex;
    align-items: center;
    gap: 15px;
}

.sign-up img{
    width: 30px;
    height: 30px;
    transition: transform .7s ease-in-out;
    cursor: pointer;
}

.user-icon, .chart-icon{
    font-size: 1.7rem;
    transition: color 0.5s ease;
}

.user-icon:hover, .chart-icon:hover{
    color: #FE0000;
}


.sign-up{
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 600;
    border: 2px solid hsla(0,0%,100%,.3);
    padding: 2px 5px;
    transition: transform .7s ease-in-out;
    cursor: pointer;
}

.sign-up img:hover{
    transform: rotate(360deg);
}

.links{
    display: flex;
    gap: 20px;
    font-size: 1.3rem;
}

.links li{
    transition: color 0.5s ease;
}

.links li:hover{
    color: #FE0000;
    cursor: pointer;
}


/*info banner*/
.show-banner{
    display: contents;
}

.hide-banner{
    display: none;
}

.flex-info{
    display: flex;
    overflow-y: scroll;
    scrollbar-color: #FE0000 ;
    flex-direction: column;
    background-color: #fcfcfc;
    color: #191919;
    width: 340px;
    height: 100vh;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 0 30px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1Fe;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FE0000;
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f00c0c;
  }


.info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
}

.close-info{
    color: #FE0000;
}

.about-info{
    margin: 1rem 0;
}

.about-info h3{
    font-size: 2rem;
}

.about-info p{
    font-size: 1.2rem;
    color: #888787;
}

/* gallery */
.gallery-info{
    margin-bottom: 2rem;
}
.gallery-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 7px;
}

.gallery-grid img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/*contact*/
.contact-info p{
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.5s ease;
}

.contact-info p:hover{
    color: #FE0000;
}

/*socials*/
.socials-info{
    padding-bottom: 2rem;
}

.socials-info .fa-instagram,
.socials-info .fa-twitter,
.socials-info .fa-facebook-f{
    background-color: #FE0000;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 50%;
    margin: 0 0.5rem;
}

.socials-info .fa-facebook{
    margin-left: 0;
    width: 20px;
    text-align: center;
}

/* about us section */
.about-container{
    display: flex;
    align-items: center;
    gap: 0;
    margin: 6rem 0;
}

.about-us, .girl-running{
    width: 50%;
}

.about-us h3{
    font-size: 2rem;
    margin-bottom: 0;
}

.about-us h2{
    margin-top: 1rem;
    font-size: 3rem;
}

.about-us p{
    margin: 0 0 3.5rem 0;
    font-size: 1.5rem;
}

.about-us button{
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    background-color: #191919;
    border: 2px solid #191919;
    padding: 1rem;
    margin-top: 2.5rem;
    transition: background 0.5s ease-in-out;
}

.about-us button:hover{
    background-color: white;
    color: #191919;
}

.icons-container{
    display: flex;
}

.icons-container div{
    padding: 5px 10px;
}

.icons-container p{
    font-size: 1.4rem;
    margin-top: 2.5rem;
    text-align: center;
}

.icons-container div:nth-child(2){
    border-right: 2px solid #888787;
    border-left: 2px solid #888787;
}

.icons-container img{
    width: 100%;
}

.girl-running{
    position: relative;
    height: 600px;
}

.girl-running img{
    position: absolute;
}

.girl-running img:nth-child(1){
    right: 0;
}

.girl-running img:nth-child(2){
    left: 40%;
}

/*Pricing Plan*/
.pricing-section{
    padding: 4rem 15%;
    text-align: center;
    background-image: url(./images/pricing/bg-text.png), url(./images/pricing/bg-dumbell.png), url(./images/pricing/pricing-bg.jpg);
    background-position: left top, right bottom, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 400px, 400px,  cover;
}

.pricing-section h3{
    background: url(./images/choose-us/title-bg.svg)  center no-repeat;
    color: white;
    font-size: 1.4rem;
}

.pricing-section h2{
    font-size: 2.5rem;
}

.pricing-section > p{
    font-size: 1.3rem;
    color: #888787;
}

.pricing-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.plan{
    width: 30%;
}

.plan-type{
    background-color: white;
    width: 80%;
    margin: 0;
    padding: 1rem 0 0 0;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    transition: color 0.3s ease-in-out;
}

.plan-img01:hover p, .plan-img02:hover p, .plan-img03:hover p{
    color: #FE0000;
}

.plan-img01, .plan-img02, .plan-img03{
    margin-bottom: 0;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.plan-img01{
    background: url(./images/pricing/img1.jpg) center/cover no-repeat;
}

.plan-img02{
    background: url(./images/pricing/img2.jpg) center/cover no-repeat;
    height: 300px;
}

.plan-img03{
    background: url(./images/pricing/img3.jpg) center/cover no-repeat;
}

.price-info{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 20%;
    height: 400px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
}

.price-info h2{
    margin: 0;
}

.plan-services{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.plan-services li{
    font-size: 1.2rem;
    color: #616161;
    font-weight: 700;
}

.price-info button{
    padding: 1rem 2rem;
    background-color: #FE0000;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid #FE0000;
    transition: all 0.4s ease-in-out;
}

.price-info button:hover{
    background-color: transparent;
    color: #FE0000;
}

/*footer*/
.footer{
    padding: 3rem 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-line{
    width: 40%;
    height: 4px;
    background-color: #f00c0c;
}

.footer-item:nth-child(1){
    width: 30%;
}

.footer-socials{
    display: flex;
    gap: 3rem;
}


.footer-text, .footer-item ul li{
    font-size: 1.4rem;
    color: #888787;
}

.footer-item .footer-time li:nth-child(odd){
    font-weight: 700;
    color: rgb(97, 97, 97);
}

.footer-item ul li{
    margin-top: 1rem;
}

.footer h3{
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 0;
}

.footer-socials .fa-instagram,
.footer-socials .fa-twitter,
.footer-socials .fa-facebook-f{
    background-color: #dadadab0;
    color: #585858;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 50%;
    margin: 0 0.5rem;
    transition: all 0.5s ease-in-out;
}

.footer-socials .fa-facebook-f{
    width: 20px;
    text-align: center;
}

.footer-socials .fa-instagram:hover,
.footer-socials .fa-twitter:hover,
.footer-socials .fa-facebook-f:hover{
    color: white;
    background-color: #f56d6d;
}