.home-section{
    background: url("../../images/homepage/hero-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-intro{
    color: white;
    display: flex;
    justify-content: end;
    gap: 3rem;
    margin: 12% 0;
    padding-right: 4rem;
}

.hero-text h2{
    font-weight: 500;
}

.hero-text h1{
    font-size: 4rem;
}
.hero-intro button{
    background-color: white;
    color: black;
    border: none;
    padding: 20px 30px;
    font-size: 1.2  rem;
    font-weight: 600;
    transition: background 0.5s ease-in-out;
}

.hero-intro button:hover{
    color: white;
    background-color: black;
}

.hollow-text{
    display: block;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
    transition: all 0.5s ease-in-out;
}

.hollow-text:hover{
    -webkit-text-stroke: 2px #FE0000;
}

.hero-socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-socials p{
    transform: rotate(-90deg);
    font-weight: 500;
    font-size: 1.2rem;
}

.red-line{
    height: 50px;
    background-color: #FE0000;
    width: 4px;
    border-radius: 10px;
}

.hero-socials i{
    font-size: 1.5rem;
    transition: color 0.5s ease-in-out;
}

.hero-socials i:hover{
    color: #FE0000;
}

/*about banner*/
.about-banner{
    background-image: url("../../images/homepage/home-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 15%;
}

.about-services{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progression, .workout, .nutrition{
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    width: 25%;
    text-align: center;
    border-radius: 15px 0 15px 0;
    padding: 2rem 1rem;
    margin-top: -8rem;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.about-services p{
    font-size: 1.4rem;
    
}

.about-services h3{
    font-size: 1.8rem;
    
}

.progression:hover{
    background: linear-gradient(rgba(107, 107, 107, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../images/gallery/img08.jpg") center/cover no-repeat;
    color: white;
}

.workout:hover{
    background: linear-gradient(rgba(107, 107, 107, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../images/gallery/img11.jpg") center/cover no-repeat;
    color: white;
}

.nutrition:hover{
    background: linear-gradient(rgba(107, 107, 107, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../images/gallery/img03.jpg") center/cover no-repeat;
    color: white;
}

/* classes */
.featured-classes{
    padding:3% 15%;
}

.classes-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 1fr 1fr;
    gap: 2rem;
    padding-bottom: 6rem;
}

.col-2{
    grid-column: span 2;
}

.row-2{
    grid-row: span 2;
}

.parent{
    overflow: hidden;
    position: relative;
}

.grid-item{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    transition: all 0.5s ease-in-out;
}

.grid-item p{
    margin: 0 0 1.5rem 1rem;
    font-size: 1.3rem;
    padding: 5px 20px;
    background-color: #d82d2d;
    width: max-content;
}

.grid-item h3{
    margin-left: 1rem;
    font-size: 2rem;
}

.class{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.parent:hover .class{
    transform: scale(1.2);
}


.one{
    background: linear-gradient(rgba(107, 107, 107, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../images/gallery/img15.jpg") center/cover no-repeat;   
}

.two{
    background: linear-gradient(rgba(107, 107, 107, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../images/gallery/img08.jpg") center/cover no-repeat;
}
.three{
    background: linear-gradient(rgba(107, 107, 107, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../images/gallery/img13.jpg") center/cover no-repeat;
}

.four{
    background: linear-gradient(rgba(107, 107, 107, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../images/gallery/img02.jpg") center/cover no-repeat;
}

.five{
    background: linear-gradient(rgba(107, 107, 107, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../images/gallery/img05.jpg") center/cover no-repeat;
}

.six{
    background: linear-gradient(rgba(107, 107, 107, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../images/gallery/img14.jpg") center/cover no-repeat;
}

/* choose us banner */
.choose-us{
    background: url("../../images/choose-us/choose-bg.jpg") center/cover no-repeat;
    position: relative;
}

.service-banner{
    padding: 2rem 5rem;
    margin-top: -5rem;
    position: absolute;
    background-color: #FE0000;
    width: 80%;
    border: 3px solid #900;
    border-radius: 0 140px 140px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.service-banner h2{
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    width: fit-content;
}

.service-banner button{
    font-size: 1.3rem;
    background-color: white;
    border: 2px solid white;
    padding: 1.5rem 3rem;
    height: fit-content;
    font-weight: 700;
}

.choose-container{
    padding: 12rem 15% 6rem 15%;
    display: flex;
    gap: 4rem;
}

.choose-text{
    color: white;
}

.choose-text h3{
    background: url("../../images/choose-us/title-bg.svg") center no-repeat;
    text-align: center;
    font-size: large;
}

.choose-text h2{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.choose-text p{
    font-size: 1.7rem;
    margin-top: 0;
    color: #bdbdbd;
}

.choose-text button{
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: white;
    background-color: #636363;
    font-weight: 600;
    border: 2px solid #636363; 
    transition: all 0.5s ease-in-out;
}

.choose-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin: 4rem 0;
}

.choose-text button:hover{
    background: transparent;
}

.item{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.item img{
    background-color: rgb(71, 71, 71);
    padding: 1rem;
    width: 55px;
    border-radius: 50%;
    transition: background 0.5s ease-in-out;
}

.item img:hover{
    background-color: #FE0000;
}

/* trainers section */
.trainer-section{
    background: url(../../images/trainers/dot-bg.png) center/cover no-repeat;
    padding: 5rem 15%;
    text-align: center;
}

.trainer-section h3{
    background: url(../../images/choose-us/title-bg.svg) center no-repeat;
    color: white;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.trainer-section h2{
    font-size: 3rem;
    margin-bottom: 0;
}

.trainer-section p{
    font-size: 1.6rem;
    margin-bottom: 0;
    width: 50%;
    margin: 2rem auto;
    color: #636363;
}

.trainer-container{
    display: flex;
    justify-content: space-between;
}
.trainer{
    width: 30%;
    position: relative;
    margin-top: 3rem;
}

.trainer-img{
    background: url(../../images/trainers/trainer-bg.png) center/cover no-repeat;
}

.trainer-info{
    margin-top: -7rem;
    position: absolute;
    width: 100%;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    border-radius: 15px;
}

.trainer-info h2{
    font-size: 2rem;
    margin: 0;
    padding-top: 1rem;
}

.trainer-info p{
    font-size: 1.3rem;
    margin: 0 auto;
}

.trainers-socials{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0   ;
}

.trainers-socials img{
    width: 30px;
    padding: 1rem 0;
}

.red-line{
    background-color: #FE0000;
    height: 5px;
    width: 20%;
    margin: auto;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
}

.trainer-info:hover .red-line{
    width: 100%;
}


/*reviews*/
.review-section{
    padding: 2rem 15%;
}

.review-section > h3{
    text-align: center;
    background: url(../../images/choose-us/title-bg.svg) center no-repeat;
    color: white;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.review-container{
    background-color: rgb(32, 32, 32);
    position: relative;
    height: 350px;
    
}

.review-container img{
    position: absolute;
    bottom: 0;
    border-top-right-radius: 200px;
}

.review-text{
    width: 50%;
    position: absolute;
    right: 5rem;
    bottom: 10%;
}

.review-text > p{
    color: #bdbdbd;
    font-size: 1.7rem;
}

.gray-bg{
    margin-top: 9rem;
}

.reviewer-name h4{
    margin: 0;
    font-size: 1.3rem;
    color: white;
}

.reviewer-name p{
    font-size: 1.1rem;
    color: #bdbdbd;
}

.home-gallery{
    border-top: 2px solid #cccccc;
    text-align: center;
    padding: 4rem 15%;
}

.home-gallery h3{
    background: url(../../images/choose-us/title-bg.svg) center no-repeat;
    color: white;
}

.home-gallery h2{
    font-size: 2.6rem;
    margin-bottom: 0;
}

.home-gallery p{
    font-size: 1.2rem;
    width: 50%;
    margin: 2rem auto;
    color: #636363;
}

.gallery-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.img-one{
    background: url(../../images/gallery/img11.jpg) center/cover no-repeat;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.img-two{
    background: url(../../images/gallery/img05.jpg) center/cover no-repeat;
    height: 300px;
    grid-column-start: 3;
    grid-column-end: 5;
}

.img-three{
    background: url(../../images/gallery/img07.jpg) center/cover no-repeat;
    height: auto;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.img-four{
    background: url(../../images/gallery/img04.jpg) center/cover no-repeat;
    height: 300px;
    grid-column-start: 1;
    grid-column-end: 1;

}

.img-five{
    background: url(../../images/gallery/img10.jpg) center/cover no-repeat;
    height: 300px;
    grid-column-start: 2;
    grid-column-end: 2;
}